.App {
  text-align: center;
  height: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}
.nextBtn {
  width: 100%;
  height: auto;
  background-color: rgb(20, 20, 134);
  color: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}

.error {
  border: 1.4px solid red;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  color: red;
  display: flex;
  align-items: center;
}

.erricon {
  color: red;
  font-size: 20px;
  margin-right: 20px;
}
.errTxt {
  font-size: 14px;
  color: red;
}
.duplicateBtn {
  color: red;
  font-weight: 600;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.text-grey {
  color: grey;
  font-weight: 600;
  text-align: start;
}